VisualPinball.Engine.Test
VisualPinball.Resources 
VisualPinball.Unity.Test
VisualPinball.Unity.Test.meta
*.sln
*.sln.meta
*.csproj
*.csproj.meta
Directory.Build.props
Directory.Build.props.meta
nuget.config
