@import url("fonts.css");
@import url("zephyr.css");

/* layout */
.navbar-github { /* align github link to the right */
	order: 100;
	margin-left: 10px;
	margin-top: 4px;
}
.navbar-github > svg { /* github logo color */
	fill: #ccc;
}

body[data-layout=landing]>main { /* landing page full width */
	display: block;
}
#vpe-halftone { /* landing page logo width */
	max-width: 720px;
	display: block;
}

:root,
[data-bs-theme=light] {
	--bs-font-sans-serif: Inter, 'Segoe UI', Tahoma, Helvetica, sans-serif;
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-link-color-rgb: 214, 99, 22;
	--bs-link-hover-color-rgb: 183, 74, 0;
	--vpe-body-bg-secondary: #f3f3f3;
	--vpe-link-secondary: #00000080;
	--vpe-link-secondary-hover: #000000aa;
}
[data-bs-theme=dark] {
	--bs-link-color-rgb: 236, 132, 61;
	--vpe-body-bg-secondary: #292e33;
	--vpe-link-secondary: #ffffff80;
	--vpe-link-secondary-hover: #ffffffaa;
}

[data-bs-theme=dark] header { /* header slightly lighter in dark mode */
	background-color: var(--vpe-body-bg-secondary) !important;
}

/* don't underline links */
a {
	text-decoration: none !important;
}

/* zephyr fixes */
.btn-outline-secondary {
	color: var(--bs-secondary-color) !important;
}
[data-bs-theme=dark] .btn-outline-secondary:hover {
	color: var(--bs-body-bg) !important;
}
.link-secondary {
	color: var(--vpe-link-secondary) !important;
}
.link-secondary:hover {
	color: var(--vpe-link-secondary-hover) !important;
}
#search-results > .sr-items .sr-item > .item-href {
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

	/* landing logo colors */
svg .cls-1 {  /* visual pinball engine */
	fill: var(--bs-body-color);
	font-family: Asgalt-Regular, Asgalt;
	font-size: 34.4px;
	letter-spacing: .19em;
}
svg .cls-2, .cls-3, .cls-4 { /* outer */
	stroke-width: 0px;
	fill: var(--bs-body-bg)
}
svg .cls-3 { /* logo */
	fill: var(--bs-body-color);
}
svg .cls-4 {
	fill: var(--vpe-body-bg-secondary);
}

.border-top:not(.next-article) { /* footer background color */
	background-color: var(--vpe-body-bg-secondary);
}

/*body > main {*/
/*	padding-top: 0;*/
/*}*/

/*article {*/
/*	margin-top: 20px;*/
/*}*/

/*main > .toc-offcanvas {*/
/*	background-color: #efefef;*/
/*	padding: 15px;*/
/*	top: calc(35px + 1.6rem) !important;*/
/*	max-height: calc(100vh - 35px - 1.6rem) !important;*/
/*}*/

/*!* fonts *!*/
/*html,*/
/*body {*/
/*	font-family: Inter, 'Segoe UI', Tahoma, Helvetica, sans-serif;*/
/*	font-size: 100%;*/
/*}*/


h1, h2 {
	font-weight: bold;
}

/*.affix h5 { !* "In this article" *!*/
/*	font-weight: 600;*/
/*	letter-spacing: normal !important;*/
/*}*/

/*header .btn:hover {*/
/*	background-color: #fff;*/
/*}*/

/*.btn.btn-default.active, .btn.btn-default:active {*/
/*	outline: 0;*/
/*	-webkit-box-shadow: none;*/
/*	box-shadow: none;*/
/*	background-color: rgba(1,1,1,0.08);*/
/*}*/

/*.navbar-brand > svg {*/
/*	margin-top: 6px;*/
/*}*/



/*.navbar-default {*/
/*	background-color: rgba(1,1,1,0.05);*/
/*	border-color: rgba(1,1,1,0.1);*/
/*}*/

/*#sidetoc .sidefilter {*/
/*	top: 94px;*/
/*}*/

/*#sidetoc .sidetoc.shiftup {*/
/*	bottom: 0;*/
/*}*/

/*img[alt="Visual Pinball Engine"] {*/
/*	margin-top: 15px;*/
/*}*/

/*.table-bordered,*/
/*.table-bordered>tbody>tr>td,*/
/*.table-bordered>tbody>tr>th,*/
/*.table-bordered>tfoot>tr>td,*/
/*.table-bordered>tfoot>tr>th,*/
/*.table-bordered>thead>tr>td,*/
/*.table-bordered>thead>tr>th {*/
/*	border-color: rgba(1,1,1,0.15);*/
/*}*/
/*.table-striped > tbody > tr:nth-of-type(odd) {*/
/*	background-color: rgba(1,1,1,0.03)*/
/*}*/
