#details {
	padding: 8px;
}

#details > #title {
	margin-bottom: 8px;
	font-size: 18px;
	white-space: normal;
	-unity-font-style: bold;
}

IMGUIContainer {
	margin-bottom: 16px;
}

#details > #add {
	margin-top: 8px;
}

#details > #attributes-title {
	-unity-font-style: bold;
}

#nothing-selected {
	width: 100%;
	height: 100%;
	margin: 10px;
	-unity-font-style: italic;
	-unity-text-align: middle-center;
}
