#rightPane .unity-scroll-view__content-container {
	flex-direction: row;
	flex-wrap: wrap;
}

#rightPane .unity-image {
	width: 200px;
	height: 200px;
	background-color: #1c2298;
}

ListView {
	flex-grow: 1;
}

.unity-two-pane-split-view {
	flex-grow: 1;
}

.unity-two-pane-split-view__dragline-anchor {
	background-color: #1d1d1d;
}
