.library-category-element {
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 8px;
}

.library-category-element > Image {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 2px;
}

.library-category-element--dragover > TemplateContainer {
	background-color: #515151 !important;
}

.library-category-element:hover {
	/*background-color: #4c4c4c;*/
}
