<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- For OSX, the following entries should be added to 
         /Applications/Unity/Hub/Editor/2019.4.1f1/Unity.app/Contents/MonoBleedingEdge/etc/mono/config -->

    <dllmap dll="libvips-42.dll" target="libvips.42.dylib" os="osx" />
    <dllmap dll="libglib-2.0-0.dll" target="libvips.42.dylib" os="osx" />
    <dllmap dll="libgobject-2.0-0.dll" target="libvips.42.dylib" os="osx" />

    <!-- For Linux, the following entries should be added to 
         /etc/mono/config -->

    <dllmap dll="libvips-42.dll" target="libvips.so.42" os="linux" />
    <dllmap dll="libglib-2.0-0.dll" target="libvips.so.42" os="linux" />
    <dllmap dll="libgobject-2.0-0.dll" target="libvips.so.42" os="linux" />
</configuration>
