<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetMiniZ" version="1.0.2" targetFramework="net472" />
  <package id="NetMiniZ.Native.osx-x64" version="1.0.2" targetFramework="net472" />
  <package id="NetMiniZ.Native.win-x64" version="1.0.2" targetFramework="net472" />
  <package id="NetVips" version="1.2.2" targetFramework="net472" />
  <package id="NetVips.Native.osx-x64" version="8.9.2-build2" targetFramework="net472" />
  <package id="NetVips.Native.win-x64" version="8.9.2-build2" targetFramework="net472" />
  <package id="NLog" version="4.7.0-rc1" targetFramework="net471" />
  <package id="OpenMcdf" version="2.2.1.4" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.0-rc0003" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>