name: Release
on:
  repository_dispatch:
    types: [ build-complete ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch next version
        id: nextVersion
        uses: VisualPinball/next-version-action@v0.1.7
        with:
          tagPrefix: 'v'
      - name: Bump
        if: ${{ steps.nextVersion.outputs.isBump == 'true' }}
        run: |
          npm version ${{ steps.nextVersion.outputs.nextVersion }} --no-git-tag-version
      - name: Commit
        id: commit
        if: ${{ steps.nextVersion.outputs.isBump == 'true' }}
        run: |
          git config user.name "github-actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add package.json
          git commit -m "release: ${{ steps.nextVersion.outputs.nextTag }}."
          git push
          commitish=$(git rev-parse HEAD)
          echo ::set-output name=commitish::${commitish}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.nextVersion.outputs.nextTag }}
          release_name: ${{ steps.nextVersion.outputs.nextTag }}
          prerelease: ${{ steps.nextVersion.outputs.isPrerelease }}
          commitish: ${{ steps.commit.outputs.commitish }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dispatch:
    runs-on: ubuntu-latest
    needs: [ release ]
    steps:
      - uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PAT }}
          event-type: release-complete
          client-payload: '{"artifacts_run_id": "${{ github.event.client_payload.artifacts_run_id }}"}'
